* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.present-weather {

}

.temperature-present, .UVindex-present, .humidity-present, .windspeed-present {
    font-size: 15px;
}

.current-search {

}

.previous-search {

}

.present-numbers {
    font-size: 15px;
}

.weather-icons-all {

}